
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kulüp</h2>

<form method="post" class="form-group col-lg-4">
    <div>
        <label>Kulüp Adı</label>
        <input type="text" class="form-control" name="KULUPAD" />
    </div>
    <div style="margin-top:10px">
        <button class="btn bg-info">Kulüp Ekle</button>
    </div>
</form>

