@using OgrenciNotMvc.Models.EntityFramework
@model List<TBLDERSLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>DERSLER</h2>
<table class="table table-bordered">
    <tr>
        <th>Ders ID</th>
        <th>Ders Ad</th>
        <th>İşlemler</th>
    </tr>
    <tbody>
        @foreach(var drs in Model)
        {
        <tr>
            <td>@drs.DERSID</td>
            <td>@drs.DERSAD</td>
            <td>
                <a href="/Default/Sil/@drs.DERSID" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                <a href="/Default/DersGetir/@drs.DERSID" class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
        </tr>

        }
    </tbody>
</table>

<a href="/Default/YeniDers" class="btn btn-success">Yeni Ders Kaydı</a>