
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Ders Ekleme Sayfası</h2>

<form method="post" class="form-group col-lg-4">
    <div>
        <label>Ders Adı</label>
        <input type="text" class="form-control" name="DERSAD" />
    </div>
    <div style="margin-top:10px">
        <button class="btn bg-info">Ders Ekle</button>
    </div>
</form>

